/* For use in src/lib/core/theming/_palette.scss */
$custom-primary: (
  50 : #e7e9ed,
  100 : #c3c8d2,
  200 : #9ba4b4,
  300 : #728095,
  400 : #54647f,
  500 : #364968,
  600 : #304260,
  700 : #293955,
  800 : #22314b,
  900 : #16213a,
  A100 : #7aa0ff,
  A200 : #477cff,
  A400 : #1458ff,
  A700 : #0048f9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$custom-accent: (
  50 : #f9fbe7,
  100 : #f0f5c4,
  200 : #e6ee9c,
  300 : #dce774,
  400 : #d5e157,
  500 : #cddc39,
  600 : #c8d833,
  700 : #c1d32c,
  800 : #bace24,
  900 : #aec517,
  A100 : #fefff7,
  A200 : #f7ffc4,
  A400 : #f0ff91,
  A700 : #ecff78,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);








