<mat-sidenav-container color="primary" class="sidenav-container" xmlns="http://www.w3.org/1999/html">
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span class="pointer" style="padding-left: 20px;" (click)="goToPage('')">Smart Fitting Room</span>

            <div style="flex: 1 1 auto;">
            </div>
            <div style="padding-right:10rem;">
                <h3 class="pointer" style="font-style: italic" (click)="goToPage(this.loggedin+'/myProfile')">Logged in user: {{this.loggedin}}</h3>
            </div>
            <div *ngIf="this.loggedin!='none' || this.loggedin!=''" style="padding-right:5rem;">
                <button mat-raised-button color="accent" [disabled]="this.loggedin=='none'" (click)="goToPage(this.loggedin+'/myTryons')">
                    MyTryons
                </button>
<!--                <button mat-raised-button color="accent" style="margin-left: 5px" [disabled]="this.loggedin=='none'" (click)="goToPage(this.loggedin+'/myPurchases')">-->
<!--                    MyPurchases-->
<!--                </button>-->
              <button mat-raised-button color="accent" style="margin-left: 5px" (click)="goToPage(this.loggedin+'/tryon')">
                Try on
              </button>
            </div>
            <div style="padding-right:2rem;">
                <button mat-raised-button color="accent" (click)="logout()">
                    Logout
                </button>
            </div>

        </mat-toolbar>
        <div id="main-content">
            <br><br><br><br>

            <mat-card>
                <mat-card-title>Welcome to our smart fitting room</mat-card-title>
                <br><br><br>
                <mat-radio-group class="my-radio-group" aria-label="Select an option" [(ngModel)]="option">
                    <mat-radio-button class="my-radio-button" *ngFor="let option of options"
                                      [value]="option">{{option}}</mat-radio-button>
                </mat-radio-group>
                <br><br><br><br>
                <button type="submit" mat-raised-button color="accent" (click)="customerSelect()">Submit</button>
            </mat-card>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
